
<div id="toolbar">
    <div id="selectRadios">
		<input type="radio" id="selectAllBtn" name="radio" checked="checked" />
		<label for="selectAllBtn">All</label>
		<input type="radio" id="selectNoneBtn" name="radio" checked="checked" />
		<label for="selectNoneBtn">None</label>
    </div>

	<a href="#" id="expandBtn">Expand</a>
	<% if @manual_assign_btn_visible && @is_admin %>
	<a href="#" class="jqBtn" id="assignBtn">Manual Assign</a>
	<% end %>

	<% if @auto_assign_btn_visible && @is_admin %>
	<div>
		<input type='checkbox' class='dialogTrigger' id='autoAssignBtn'>
		<label for='autoAssignBtn'>Auto Assign</label>
		<%= auto_assign_reviews_dialog_helper %>
	</div>
	<a href="/view_table/view?auto_assign=0" class="jqBtn" id='unassignBtn'> Unassign</a>
	<% end %>
	<div>
		<input type="checkbox" class="dialogTrigger" id="filterBtn">
		<label for="filterBtn">Filter</label>
		<%= filter_helper %>
	</div>
	<div>
		<input type="checkbox" class="dialogTrigger" id="sortBtn">
		<label for="sortBtn">Sort</label>
		<%= sort_dialog_helper %>
	</div>
	<a href="#" id="addRemoveFieldsBtn" class="jqBtn">Add/Remove fields</a>
	
	<%= will_paginate @applications, :page_links => false, :previous_label=>'Prev', :next_label=>'Next', :params => @paging_params %>
</div>

<div id="displayAppsArea">	
<% @applications.each do |app| %>
	<% ay = app.apply_yourself %>
	<div class="appWrapper">
		<div class="appControls">
			<input type="checkbox" class="selectAppCB"/>
			<a href="#" class="expandAppBtn" rel="first_time <%= app.id %>">Expand</a>
		</div>
		<div class="appArea">
			<div class="appHeader">
				<div class="appHeaderTitle">
					<% appName = "#{ay.first_name + ' ' + ay.last_name}" %>
					<%= link_to appName, app, :class=>"appName" %>
					<% if (app.pdf_submitted == 1) %>
					(<%= link_to 'PDF', "/data/pdf/" + ay.email_address+".pdf", :class=>"appPDFLink" %>)
					<% else %>
					(<%= link_to 'PDF', "#", :class=>"appPDFLink" %>)
					<% end %>
				</div>
				
				<%= fields_display_helper app.apply_yourself, app.official_test_score%>
			</div>
			<div class="appContent" style="display: none;">
				
			</div>	
		</div>
	</div>
<% end %>
</div>


<%= remove_fields_dialog_helper %>
<%= assign_reviews_dialog_helper %>


