<%= form_for(@application) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% @apply_yourself = @application.apply_yourself %>
<% @official_test_score = @application.official_test_score %>

<%= link_to "Edit Apply Yourself", edit_apply_yourself_path(@apply_yourself) %> <br/>
<%= link_to "Edit Official Test Score", edit_official_test_score_path(@official_test_score) %> <br/>
<%= link_to "Edit Reviews", "/reviews/edit_reviews?id=#{@application.id}" %>

<% end %>
