<div style="display:block" id="app_applicant_information" class="section">
	<div class="header">
		<h2>Applicant Information-changing</h2>
	</div>

	<div class="content">
		<table class="application">
			<tbody>
				<% MAPPER.get_attr_list("ay").each do |display| %>						
				<tr>
					<td class="fieldHead"><%= display+":"  %></td>
					<% name = MAPPER.get_attr('ay',display)[:name] %>
					<% if( ApplyYourself.method_defined? :"#{name}" ) %>
						<% val = apply_yourself.send(:"#{name}") %>
						<td class='ay'>					
						<input type='text' name='<%= "#{name}" %>' value='<%= "#{val}" %>' />
						</td>
					<% else %>
						<td>fdsa</td>
					<% end %>
				</tr>
				<% end %> 
			</tbody>
		</table>
	</div>
</div>




<div style="display:block" id="app_applicant_information" class="section">
	<div class="header">
		<h2>Applicant Information</h2>
	</div>

	<div class="content">
		<table class="application">
			<tbody>
				<% MAPPER.get_attr_list("ay").each do |display| %>						
				<tr>
					<td class="fieldHead"><%= display+":"  %></td>
					<% name = MAPPER.get_attr('ay',display)[:name] %>
					<% if( ApplyYourself.method_defined? :"#{name}" ) %>
						<td><%= apply_yourself.send(:"#{name}")  %></td>
					<% else %>
						<td></td>
					<% end %>
				</tr>
				<% end %> 
			</tbody>
		</table>
	</div>
</div>
