
<div id="toolbar">
    <div id="selectRadios">
		<input type="radio" id="selectAllBtn" name="radio" checked="checked" />
		<label for="selectAllBtn">All</label>
		<input type="radio" id="selectNoneBtn" name="radio" checked="checked" />
		<label for="selectNoneBtn">None</label>
    </div>

	<a href="#" id="expandBtn">Expand</a>
	<a href="#" class="jqBtn" id="assignBtn">Assign Reviewer</a>	
	<div>
		<input type="checkbox" class="dialogTrigger" id="filterBtn">
		<label for="filterBtn">Filter</label>
		<%= filter_helper %>
	</div>
	<div>
		<input type="checkbox" class="dialogTrigger" id="sortBtn">
		<label for="sortBtn">Sort</label>
		<%= sort_dialog_helper %>
	</div>
	<a href="#" id="addRemoveFieldsBtn" class="jqBtn">Add/Remove fields</a>

    <div class="pagination">
		<%= link_to 'Prev', {:page=>@prev_page}, {:class=>'jqBtn'} %>
		<%= link_to 'Next', {:page=>@next_page}, {:class=>'jqBtn'} %>
	</div>
</div>

<div id="displayAppsArea">	

<% @applications.each do |app| %>
	<% ay = app.apply_yourself %>
	<div class="appWrapper">
		<div class="appControls">
			<input type="checkbox" class="selectAppCB"/>
			<a href="#" class="expandAppBtn">Expand</a>
		</div>
		<div class="appArea">
			<div class="appHeader">
				<div class="appHeaderTitle">
					<% appName = "#{ay.first_name + ' ' + ay.last_name}" %>
					<%= link_to appName, app, :class=>"appName" %>
					 <%= link_to 'PDF', pdf_path(".pdf"), :class=>"appPDFLink" %>
				</div>
				<%= fields_display_helper ay, ots%>
			</div>
			<div class="appContent" style="display: none;">
				<%= render app %>
			</div>	
		</div>
	</div>
<% end %>
</div>


<%= remove_fields_dialog_helper %>
<%= assign_reviews_dialog_helper %>

