			<!-- Test Scores -->

			<div style="display:block" id="app_test_scores" class="section">



				<div class="header">

				  <h2>Test Scores 
					<% if @is_admin %>
					- <%= link_to "Edit", edit_official_test_score_path(official_test_score) %>
					<% end %>
   				  </h2>
				</div>

				<!-- GRE Scores -->

				<div class="content">

					<h3>GRE Scores</h3>

					<table class="application">
						<tbody>
							<% official_test_score.gre_info.each do |display| %>
								<tr>
									<td class="fieldHead"><%=display%></td>
									<% name = MAPPER.get_attr('ots',display)[:name] %>
									<% if( OfficialTestScore.method_defined? :"#{name}")%>
									<td><%= official_test_score.send(:"#{MAPPER.get_attr('ots',display.to_s)[:name]}") %></td>
                                        				<% else %>
                                                				<td></td>
                                        				<% end %>
								</tr>
							<% end %>
						</tbody>
					</table>

				</div>

				<!-- TOEFL Scores -->

				<div class="content">

					<h3>TOEFL Scores</h3>

					<table class="application">
						<tbody>
							<% official_test_score.toefl_info.each do |display| %>						
								<tr>
									<td class="fieldHead"><%=display%></td>
									<% name = MAPPER.get_attr('ots',display)[:name] %>
									<% if( OfficialTestScore.method_defined? :"#{name}" ) %>
									<td><%= official_test_score.send(:"#{MAPPER.get_attr('ots',display.to_s)[:name]}") %></td>
                                        				<% else %>
                                                			<td></td>
                                        				<% end %>
								</tr>
							<% end %>
			
					</tbody></table>

					  

				</div>

                                <!-- TSE -->

                                <div class="content">

                                        <h3>TSE (Test of Spoken English)</h3>

                                        <table class="application">

                                                <tbody><tr>

                                                        <td class="fieldHead">TSE:</td>

                                                        <td>110</td>

                                                </tr>

                                        </tbody></table>



                                </div>



                                <!-- IELTS -->

                                <div class="content">

                                        <h3>IELTS</h3>

                                        <table class="application">

                                                <tbody><tr>

                                                        <td class="fieldHead">IELTS:</td>

                                                        <td>7.0</td>

                                                </tr>

                                        </tbody></table>



                                </div>


				
			</div>


			
